body {
    font-size: 16px;
    font-size: 1em;
}

.more-link,
.sidebar,
.widget-wrap .entry-title,
input[type="submit"] {
    font-size: 14px;
    font-size: 0.875em;
}

.entry-meta a {
    font-size: 13px;
    font-size: 0.8125em;
}

.author__content-title  .entry-title,
.site-branding .site-title {
    font-size: 24px;
    font-size: 1.5em;
}