$theme-background-color: (
    primary-background-color: #fff,

    secondary-background-color: #f2f5f8,

    dark-background-color: #333,

    tertiary-background-color: #333,
);

$theme-color: (
    primary-color: #333,

    secondary-color: #f2f5f8,

    dark-color: #333,

    tertiary-color: #333,

    link-color: #000,

    link-hover-color: #4AB4F0,

    secondary-link-color: #000,

    secondary-link-hover-color: #4AB4F0,

    border-color: #e6e6e6,

    content-color-white: #fff,
);

$theme-button-color: (
    button-background-color: #4AB4F0,

    button-text-color: #fff,

    button-hover-background-color: #333,

    button-hover-text-color: #fff,
)