.container {
    max-width: 1500px;
    margin: 0 auto;
}

body {
    font-weight: 400;
    line-height: 30px;
}

p {
    margin-bottom: 1.75em;
}

.entry-meta a {
    opacity: 0.5;
    &:hover,
    &:focus {
        opacity: 1;
        &:before {
            @include transform(scale(1.1));
        }
    }
}

a,
.entry-meta a,
.entry-meta a:before,
.more-link,
.site-header,
.site-header:after,
input[type="submit"] {
    @include transition(0.3s ease-in-out);
}