.site-header {
    left: 0;
    padding: 25px 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    &:after {
        content:'';
        height: 100%;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

.content__image {
    position: relative;
    &:before {
        background: url('../assets/images/alleys.jpg');
        background-position: center center;
        background-size: cover;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    &:after {
        content: "";
        left: 0;
        height: 100%;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;

    }

    .entry-container {
        text-align: center;
        .entry-header {
            position: relative;
            z-index: 1;
            .entry-title {
                letter-spacing: 2px;
                margin-bottom: 0;
            }
        }
    }
}

.main-navigation {
    ul {
        @include d-flex;
        @include justify-content-between;
        @include align-items-center;
        li {
            margin-bottom: 0;
            a {
                font-weight: 300;
                opacity: 0.7;
                padding: 15px 20px;
                &:hover,
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.main-navigation li.current-menu-item a {
    opacity: 1;
}

.header-container {
    @include d-flex;
    @include justify-content-between;
    @include align-items-center;
}

.fixed {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 1;

    &:after {
        opacity: 1;
    }
}